.app-body {  
  width: 80%;
  text-align: center;
  margin: 50px auto;
}  
.action-error{ 
  margin-top: 20px;
  background-color: red;
  color: white;
  padding: 10px;
}
.action-error span{
  margin: 0 auto;
}
.empty{
  text-align: center;
}
@media screen and (max-width: 992px) {
  .app-body {  
    width: 95%; 
  }   
  
}