.app-body {  
  width: 80%;
  text-align: center;
  margin: 50px auto;
}  
.action-error{
  text-align: center;
  background-color: red;
  color: white;
}
.empty{
  text-align: center;
}
@media screen and (max-width: 992px) {
  .app-body {  
    width: 95%; 
  }   
  
}